body {
    background: url(jukebox.jpg) no-repeat center center fixed;
    background-size: cover;
    /* height: 100%;
    width: 100%; */
}

div.main-card {
    background-color: #2c313c;
    color: white;
    height: 50vh;
    width: 50vw;

    border: 25px solid #2c313c;
    border-radius: 25px;
    
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
}
